## Importando e verificando versão do Pandas

In [19]:
import pandas as pd

In [20]:
pd.__version__

'2.2.3'

## Dados de exemplo

In [21]:
data = {
    'nome': ['Vitor', 'Leticia', 'Eduardo', 'Alice', 'Roberto', 'Marina', 'Carlos', 'Julia', 'Bruno', 'Fernanda', 'Lucas', 'Paula', 'André', 'Camila', 'Rafael'],
    'idade': [26, 23, 25, 22, 34, 28, 31, 24, 27, 29, 30, 21, 33, 26, 32],
    'altura': [1.75, 1.65, 1.8, 1.6, 1.7, 1.68, 1.82, 1.62, 1.77, 1.66, 1.73, 1.58, 1.79, 1.64, 1.81],
    'peso': [70, 55, 65, 50, 75, 60, 80, 53, 72, 58, 68, 49, 77, 54, 76],
    'sexo': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M'],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Recife', 'Brasília', 'Curitiba', 'Salvador', 'Fortaleza', 'Manaus', 'Porto Alegre', 'Belém', 'Goiânia', 'Natal', 'Maceió', 'João Pessoa'],
    'estado': ['SP', 'RJ', 'MG', 'PE', 'DF', 'PR', 'BA', 'CE', 'AM', 'RS', 'PA', 'GO', 'RN', 'AL', 'PB']
}

## Criando um arquivo JSON

In [22]:
import json

with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False)

### Lendo o JSON e criando o DataFrame

In [23]:
import json

with open('data.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

df = pd.DataFrame.from_dict(data)
df

        nome  idade  altura  peso sexo          cidade estado
0      Vitor     26    1.75    70    M       São Paulo     SP
1    Leticia     23    1.65    55    F  Rio de Janeiro     RJ
2    Eduardo     25    1.80    65    M  Belo Horizonte     MG
3      Alice     22    1.60    50    F          Recife     PE
4    Roberto     34    1.70    75    M        Brasília     DF
5     Marina     28    1.68    60    F        Curitiba     PR
6     Carlos     31    1.82    80    M        Salvador     BA
7      Julia     24    1.62    53    F       Fortaleza     CE
8      Bruno     27    1.77    72    M          Manaus     AM
9   Fernanda     29    1.66    58    F    Porto Alegre     RS
10     Lucas     30    1.73    68    M           Belém     PA
11     Paula     21    1.58    49    F         Goiânia     GO
12     André     33    1.79    77    M           Natal     RN
13    Camila     26    1.64    54    F          Maceió     AL
14    Rafael     32    1.81    76    M     João Pessoa     PB

## Medidas de Tendência Central

### Média

In [24]:
media = df['idade'].mean()
media

np.float64(27.4)

### Mediana

In [25]:
mediana = df['idade'].median()
mediana

np.float64(27.0)