In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.2.3'

In [6]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
df

   A  B
0  1  4
1  2  5
2  3  6